/* =VARIABLES
------------------------------------------------------- */

/**
 * COLORS
 * Background:  #F9F9F9
 * Base Font:   #111111
 * Button Font: #FFFFFF
 * Inactive:    #CCCCCC
 * Primary:     #4EAD4E
 */

/**
 * FONTS
 * Base:      'Open Sans', sans-serif;
 * Headings:  'Raleway', sans-serif;
 */

/* =ROOT
------------------------------------------------------- */

html, body
{
  color: #111;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html
{
  background: #F9F9F9;
  border-top: 3px solid #4EAD4E;
}

/* =GLOBAL
------------------------------------------------------- */

.container
{
  margin-left: 1em;
  margin-right: 1em;
  max-width: 39em;
}

.hidden
{
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

h1, h2
{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

h2
{
  font-size: 1.75em;
  font-weight: 700;
}

a
{
  color: #4EAD4E;
}

input
{
  font-family: 'Open Sans', sans-serif;
}

@media(min-width: 39em) /* 624px */
{
  .container
  {
    margin-left: auto;
    margin-right: auto;
  }
}

/* =FORMS
------------------------------------------------------- */

input[type="button"], input[type="submit"]
{
  background: #4EAD4E;
  border: 0;
  color: #FFF;
  cursor: pointer;
}

.form
{
  margin: 2em 0;
}

.form ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.form label
{
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form input
{
  font-size: 1em;
  padding: 0.3em;
}

.form input[type="submit"]
{
  padding: 0.5em 1em;
}

@media(min-width: 31.25em) /* 500px */
{
  .form label
  {
    float: left;
    width: 25%;
  }
}

/* =HEADER
------------------------------------------------------- */

header
{
  text-align: center;
  text-transform: uppercase;
  margin: 0 1em;
}

header h1
{
  color: #4EAD4E;
  font-size: 2.5em;
  font-weight: 900;
  margin: 2em 0 0.5em;
}

header h1 a
{
  text-decoration: none;
}

header .tagline
{
  font-size: 1.1em;
  font-weight: 600;
}

@media (min-width: 37.5em)
{
  header h1
  {
    font-size: 3em;
    margin-bottom: 0.1em;
    margin-top: 1.5em;
  }

  header .tagline
  {
    font-size: 1.3em;
  }
}

@media (min-width: 43.75em) /* 700px */
{
  header h1
  {
    font-size: 3.5em;
    margin-top: 1.5em;
  }
}

/* =MAIN-NAV
------------------------------------------------------- */

nav
{
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul
{
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

nav ul li
{
  display: block;
  flex: 1;
}

nav ul a
{
  color: #111;
  display: block;
  font-weight: 600;
  padding: 1em 0;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 43.75em) /* 700px */
{
  nav ul
  {
    max-width: 37.5em;
    width: 60%;
  }
}

/* =SEARCH-FORM
------------------------------------------------------- */

.search-form
{
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  overflow: auto;
}

.search-form input
{
  display: block;
  font-size: 1.1em;
  margin: 1em auto;
  padding: 0.5em;
  width: 90%;
}

.search-form input[type="submit"]
{
  max-width: 10em;
  padding: 0.6em 0.5em;
}

.search-form.minimal input[type="submit"]
{
  display: none;
}

@media(min-width: 31.25em) /* 500px */
{
  .search-form input[type="submit"]
  {
    float: right;
    width: 30%;
  }

  .search-form input[type="text"]
  {
    float: left;
    width: 63%;
  }

  .search-form.minimal input[type="text"]
  {
    float: none;
    width: 90%;
  }
}

/* =COPY
------------------------------------------------------- */

.copy
{
  margin-top: 4em;
  margin-bottom: 4em;
}

.copy p, .copy ul
{
  font-size: 1.1em;
  line-height: 1.3em;
}

.copy ul li
{
  margin-bottom: 1em;
}

/* =PROJECT-LIST
------------------------------------------------------- */

.project-list
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.project
{
  border-left: 3px solid #CCC;
  display: block;
  margin-bottom: 2em;
  padding: 0 1em;
}

.project:hover
{
  border-left-color: #4EAD4E;
}

.project-name
{
  font-size: 1.2em;
  font-weight: bold;
}

.project-info
{
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

.project-info li
{
  display: block;
  margin: 1em 0;
}

.info-title
{
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}

.info-value
{
  font-size: 0.9em;
}

.project-description
{
  margin: 1em 0;
}

.no-results-message
{
  font-size: 1.25em;
  text-align: center;
}

@media(min-width: 25em) /* 400px */
{
  .project-info li
  {
    float: left;
    margin-bottom: 0;
    width: 50%;
  }
}

@media(min-width: 31.25em) /* 500px */
{
  .project-info li.project-category, .project-info li.project-platform
  {
    width: 35%;
  }

  .project-info li.project-license, .project-info li.project-source
  {
    width: 15%;
  }
}
