/* =ROOT
------------------------------------------------------- */

html, body
{
  color: #111;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html
{
  background: #F9F9F9;
  border-top: 3px solid #59AA55;
}

/* =GLOBAL
------------------------------------------------------- */

.container
{
  margin: 4em 1em;
  max-width: 39em;
}

.hidden
{
  height: 1px;
  left: -10000px;
  overflow:hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

h1, h2
{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

h2
{
  font-size: 1.75em;
  font-weight: 700;
}

@media(min-width: 39em)
{
  .container
  {
    margin-left: auto;
    margin-right: auto;
  }
}

/* =FORMS
------------------------------------------------------- */

input[type="button"], input[type="submit"]
{
  background: #4EAD4E;
  border: 0;
  color: #FFF;
}

.form
{
  margin: 2em 0;
}

.form ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.form label
{
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form input
{
  font-size: 1em;
  padding: 0.3em;
}

.form input[type="submit"]
{
  padding: 0.5em 1em;
}

@media(min-width: 31.25em)
{
  .form label
  {
    float: left;
    width: 25%;
  }
}

/* =HEADER
------------------------------------------------------- */

header
{
  text-align: center;
  text-transform: uppercase;
  margin: 0 1em;
}

header h1
{
  color: #4EAD4E;
  font-size: 2.5em;
  font-weight: 900;
  margin: 2em 0 0.5em;
}

header .tagline
{
  font-size: 1.1em;
  font-weight: 500;
}

@media (min-width: 37.5em)
{
  header h1
  {
    font-size: 3em;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
  }

  header .tagline
  {
    font-size: 1.3em;
  }
}

@media (min-width: 43.75em)
{
  header h1
  {
    font-size: 3.5em;
    margin-top: 1.5em;
  }
}

/* =MAIN-NAV
------------------------------------------------------- */

nav
{
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul
{
  display: flex;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

nav ul li
{
  display: block;
  flex: 1;
}

nav ul a
{
  color: #111;
  display: block;
  font-weight: 500;
  padding: 1em 0;
  text-decoration: none;
  transition: border-color 0.3s;
  width: 100%;
}

@media (min-width: 43.75em)
{
  nav ul
  {
    max-width: 37.5em;
    width: 60%;
  }
}

/* =SEARCH-FORM
------------------------------------------------------- */

.search-form input
{
  display: block;
  font-size: 1.1em;
  margin: 1em auto;
  padding: 0.5em;
  width: 90%;
}

.search-form input[type="submit"]
{
  max-width: 10em;
  padding: 0.6em 0.5em;
}

@media(min-width: 31.25em)
{
  .search-form input[type="submit"]
  {
    float: right;
    width: 30%;
  }

  .search-form input[type="text"]
  {
    float: left;
    width: 63%;
  }
}

/* =COPY
------------------------------------------------------- */

.copy p, .copy ul
{
  font-size: 1.1em;
  line-height: 1.3em;
}

.copy ul li
{
  margin-bottom: 1em;
}
