extends layout

block content
  section(class='copy container')
    h2= message

    if message == 'Not Found'
      p= 'The requested page could not be found'
    else
      p= 'An unknown error occurred'
