<section id="results" class="container">
  <h2 class="hidden">Results</h2>

  <ul class="project-list">
    <li class="project">

      <span class="project-name">Project Name</span>

      <ul class="project-info">
        <li class="project-category">
          <span class="info-title">Category</span>
          <a href="#" class="info-value">Project Category</a>
        </li>
        <li class="project-platform">
          <span class="info-title">Platform</span>
          <a href="#" class="info-value">Project Platform</a>
        </li>
        <li class="project-license">
          <span class="info-title">License</span>
          <a href="#" class="info-value">MIT</a>
        </li>
        <li class="project-source">
          <span class="info-title">Source</span>
          <a href="#">GitHub</a>
        </li>
      </ul>

      <p class="project-description">
        This is a description of the project
      </p>

    </li>
  </ul>
</section>
